@model Thinh.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.productName)</h4>
    <hr />
    <img src="@Html.DisplayFor(model => model.productImgUrl)" alt="@Html.DisplayFor(model => model.productName)">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.productCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.productDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.productDescription)
        </dd>
        <dd>
            <a href="@Html.DisplayFor(model => model.productUrl)">Visit Seller</a>
        </dd>
    </dl>   
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.productId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
