@model Thinh.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HomePageModel</h4>
    <hr />
    <dl class="dl-horizontal">     
        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.productCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.productCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.productUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.productUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.productDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.productDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.productImgUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.productImgUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.productId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
