@model Thinh.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.productName)</h4>
    <hr />
    <img src="@Html.DisplayFor(model => model.productImgUrl)" alt="@Html.DisplayFor(model => model.productName)">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.productCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.productDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.productDescription)
        </dd>
        <dd>
        </dd>
    </dl>
    @{ if (Model.IsApproved == 1)
        {
            <a class="btn btn-primary" href="@Html.DisplayFor(model => model.productUrl)">Visit Seller</a>
            <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Wish" asp-route-id="@Model.productId">Add to Wishlist</a>
            <br />
            <br />
        }
        else
        {
            <a class="btn btn-primary" asp-controller="Account" asp-action="Approve" asp-route-id="@Model.productId">Approve</a>
            <a class="btn btn-secondary" asp-controller="Account" asp-action="DeleteProduct" asp-route-id="@Model.productId">Deny</a>
            <br />
            <br />
        }
     }
    </div>
<div>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back to List</a>
</div>
